@charset "utf-8";

/* 게시판 목록 */
#bo_list {position:relative;margin-bottom:20px}
#bo_list:after {display:block;visibility:hidden;clear:both;content:""}
#bo_list .td_board {width:120px;text-align:center}
#bo_list .td_chk {width:30px;text-align:center;border-top:1px solid #ecf0f1;border-bottom:1px solid #ecf0f1}
#bo_list .td_date {width:60px;text-align:center}
#bo_list .td_datetime {width:60px;text-align:center}
#bo_list .td_group {width:100px;text-align:center}
#bo_list .td_mb_id {width:100px;text-align:center}
#bo_list .td_mng {width:80px;text-align:center}
#bo_list .td_name {width:90px;text-align:left;padding:10px 0}
#bo_list .td_nick {width:100px;text-align:center}
#bo_list .td_num {width:50px;text-align:center}
#bo_list .td_num2 {width:50px;text-align:center}
#bo_list .td_numbig {width:80px;text-align:center}
#bo_list .txt_active {color:#5d910b}
#bo_list .txt_expired {color:#ccc}
#bo_list tbody tr {border-left:2px solid transparent}
#bo_list tbody tr:hover td a {color: #00966e; font-weight: 600;}
#bo_list tbody .even td {background:#fbfbfb}

#bo_cate {margin:25px 0}
#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {display:inline-block;padding:2px}
#bo_cate a {display:block;line-height:28px;padding:5px 15px;border-radius:30px;border:1px solid #222;color:#222}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none;background:#222;color:#fff}
#bo_cate #bo_cate_on {z-index:2;background:#444;color:#fff;font-weight:bold;border:1px solid #444;}
.td_subject img {margin-left:5px}

/* 게시판 목록 공통 */
.selec_chk {position:absolute;top:0;left:0;width:0;height:0;opacity:0;outline:0;z-index:-1;overflow:hidden}
.chk_box {position:relative}
.chk_box input[type="checkbox"] + label {position:relative;color:#676e70}
.chk_box input[type="checkbox"] + label:hover {color:#2172f8}
.chk_box input[type="checkbox"] + label span {float:left;width:15px;height:15px;display:block;background:#fff;border:1px solid #d0d4df;border-radius:3px}
.write_div .chk_box input[type="checkbox"] + label, .bo_vc_w .chk_box input[type="checkbox"] + label {padding-left:20px}
.write_div .chk_box input[type="checkbox"] + label span, .bo_vc_w .chk_box input[type="checkbox"] + label span {position:absolute;top:2px;left:0;width:15px;height:15px;display:block;margin:0;background:#fff;border:1px solid #d0d4df;border-radius:3px}
.chk_box input[type="checkbox"]:checked + label {color:#000}
.chk_box input[type="checkbox"]:checked + label span {background:url(img/chk.png) no-repeat 50% 50% #3a8afd;border-color:#1471f6;border-radius:3px}


/*#bo_btn_top {margin:10px 0}*/
#bo_btn_top:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx {margin-bottom:5px;float:right;zoom:1}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total {float:left;line-height:34px;font-size:0.92em;color:#4e546f}

.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;width:40px;text-align:center;margin-left:5px;background:#fff}
.btn_bo_user > li {position:relative}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:0 8px;border:0;background:#d4d4d4;color:#666;text-decoration:none;vertical-align:middle}
.bo_notice td {background:#fff6fa !important;border-bottom:1px solid #f8e6ee}
.bo_notice td a {font-weight:bold}
.bo_notice .notice_icon {display:inline-block;line-height:25px;border-radius:5px;font-weight:bold;color:#f9267f}

.more_opt {display:none;position:absolute;top:45px;right:0;background:#fff;border:1px solid #b8bfc4;z-index:999}
.more_opt:before {content:"";position:absolute;top:-8px;right:13px;width:0;height:0;border-style:solid;border-width:0 6px 8px 6px;border-color:transparent transparent #b8bfc4 transparent}
.more_opt:after {content:"";position:absolute;top:-6px;right:13px;width:0;height:0;border-style:solid;border-width:0 6px 8px 6px;border-color:transparent transparent #fff transparent}
.more_opt li {border-bottom:1px solid #f1f1f1;padding:10px;float:inherit;width:90px;margin:0;color:#6b757c;text-align:left}
.more_opt li:last-child {border-bottom:0}
.more_opt li button, .more_opt li a {width:100%;border:0;background:#fff;color:#6b757c}
.more_opt li:hover a,
.more_opt li:hover button {color:#000}
.more_opt li i {float:right;line-height:20px}

.td_num strong {color:#000}
.bo_cate_link {float:left;display:inline-block;margin-right:10px;background:#f1f1f1;color:#222;font-weight:normal !important;height:20px;line-height:10px;padding:5px 8px;border-radius:5px;font-size:0.95em} /* 글제목줄 분류스타일 */
.bo_cate_link:hover {text-decoration:none}
.bo_tit {display:block;color:#000;font-weight:bold}
.bo_current {color:#e8180c}
#bo_list .profile_img img {border-radius:50%}
#bo_list .cnt_cmt {background:#e9eff5;color:#3a8afd;font-size:11px;height:16px;line-height:16px;padding:0 5px;border-radius:3px;vertical-align:middle}

#bo_list .bo_tit .title_icon {margin-right:2px}
#bo_list .bo_tit .fa-heart {color:#ff0000}
#bo_list .bo_tit .fa-lock {display:inline-block;line-height:14px;width:16px;font-size:0.833em;color:#4f818c;background:#cbe3e8;text-align:center;border-radius:2px;font-size:12px;border:1px solid #cbe3e8;vertical-align:middle}
#bo_list .bo_tit .new_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#23db79;background:#b9ffda;text-align:center;border-radius:2px;margin-left:2px;font-weight:bold;vertical-align:middle}
#bo_list .bo_tit .hot_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#ff0000;background:#ffb9b9;text-align:center;border-radius:2px;vertical-align:middle}
#bo_list .bo_tit .fa-caret-right {color:#bbb}
#bo_list .bo_tit .fa-download {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#daae37;background:#ffefb9;text-align:center;border-radius:2px;margin-left:5px;vertical-align:middle}
#bo_list .bo_tit .fa-link {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#b451fd;background:#edd3fd;text-align:center;border-radius:2px;margin-left:5px;vertical-align:middle}

.bo_sch_wrap {display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:999}
.bo_sch {position:absolute;top:50%;left:50%;background:#fff;text-align:left;width:330px;max-height:300px;margin-left:-125px;margin-top:-180px;overflow-y:auto;border-radius:5px;-webkit-box-shadow:1px 1px 18px rgba(0,0,0,0.2);-moz-box-shadow:1px 1px 18px rgba(0,0,0,0.2);box-shadow:1px 1px 18px rgba(0,0,0,0.2);border:1px solid #dde7e9;background:#fff;border-radius:3px}
.bo_sch:after {display:block;visibility:hidden;clear:both;content:""}
.bo_sch h3 {padding:15px;border-bottom:1px solid #e8e8e8}
.bo_sch legend {background:red}
.bo_sch form {padding:15px;display:block}
.bo_sch select {border:0;width:100%;height:40px;border:1px solid #d0d3db;border-radius:2px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075)}
.bo_sch .sch_bar {display:inline-block;width:100%;clear:both;margin-top:15px;border:1px solid #d0d3db;border-radius:2px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075)}
.bo_sch .sch_input {width:250px;height:38px;border:0;padding:0;background-color:transparent;float:left}
.bo_sch .sch_btn {height:38px;float:right;color:#656565;background:none;border:0;width:40px;font-size:15px}
.bo_sch .bo_sch_cls {position:absolute;right:0;top:0;color:#b5b8bb;border:0;padding:12px 15px;font-size:16px;background:#fff}
.bo_sch_bg {background:#000;background:rgba(0,0,0,0.1);width:100%;height:100%}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#autosave_wrapper {position:relative}
#autosave_pop {display:none;z-index:10;position:absolute !important;top:34px;right:0;width:350px;height:auto !important;height:180px;max-height:180px;border:1px solid #565656;background:#fff;
-webkit-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2)}
#autosave_pop:before {content:"";position:absolute;top:-8px;right:45px;width:0;height:0;border-style:solid;border-width:0 6px 8px 6px;border-color:transparent transparent #000 transparent}
#autosave_pop:after {content:"";position:absolute;top:-7px;right:45px;width:0;height:0;border-style:solid;border-width:0 6px 8px 6px;border-color:transparent transparent #fff transparent}
html.no-overflowscrolling #autosave_pop {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */
#autosave_pop strong {position:absolute;font-size:0;line-height:0;overflow:hidden}
#autosave_pop div {text-align:center;margin:0 !important}
#autosave_pop button {margin:0;padding:0;border:0}
#autosave_pop ul {padding:15px;border-top:1px solid #e9e9e9;list-style:none;overflow-y:scroll;height:130px;border-bottom:1px solid #e8e8e8}
#autosave_pop li {padding:8px 5px;border-bottom:1px solid #fff;background:#eee;zoom:1}
#autosave_pop li:after {display:block;visibility:hidden;clear:both;content:""}
#autosave_pop a {display:block;float:left}
#autosave_pop span {display:block;float:right;font-size:0.92em;font-style:italic;color:#999}
.autosave_close {cursor:pointer;width:100%;height:30px;background:none;color:#888;font-weight:bold;font-size:0.92em}
.autosave_close:hover {background:#f3f3f3;color:#3597d9}
.autosave_content {display:none}
.autosave_del {background:url(img/close_btn.png) no-repeat 50% 50%;text-indent:-999px;overflow:hidden;height:20px;width:20px}

/* 게시판 읽기 */
#bo_v {margin-bottom:20px;background:#fff;box-sizing:border-box}

#bo_v_table {position:absolute;top:0;right:16px;margin:0;padding:0 5px;height:25px;background:#ff3061;color:#fff;font-weight:bold;line-height:2.2em}

#bo_v_title {}
#bo_v_title .bo_v_cate {display:inline-block;line-height:20px;background:#fff; border: 1px solid #d9d9d9; color:#222;padding:15px;border-radius:3px; margin-bottom: 30px; }
#bo_v_title .bo_v_tit {display:block;font-size:24px;font-weight:bold;margin:5px 0 0;word-break:break-all}

#bo_v_info {margin:0;border-bottom:1px solid #f1f1f1;color:#666}
#bo_v_info:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_info .profile_info {margin:20px 0;display:inline-block;float:left}
#bo_v_info .profile_info .pf_img {float:left;margin-right:10px}
#bo_v_info .profile_info .pf_img img {border-radius:50%;width:50px;height:50px}
#bo_v_info .profile_info .profile_info_ct {float:left;padding:5px 0;line-height:18px; font-size: 16px; line-height: 1.5em;}

#bo_v_info strong {display:inline-block;margin:0 10px 0 0;font-weight:normal}
#bo_v_info .sv_member,
#bo_v_info .sv_guest,
#bo_v_info .member,
#bo_v_info .guest {font-weight:bold}
#bo_v_info .profile_img {display:none}
#bo_v_info .sv_member {color:#000}
#bo_v_info .if_date {margin:0;color:#888}

#bo_v_file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;list-style:none}
#bo_v_file li {padding:15px;position:relative;margin:10px 0;border:1px solid #dfdfdf;border-radius:5px;
-webkit-box-shadow:1px 1px 5px 0px hsl(232, 36%, 96%);
-moz-box-shadow:1px 1px 5px 0px hsl(232, 36%, 96%);
box-shadow:1px 1px 5px 0px hsl(232, 36%, 96%)}
#bo_v_file li i {float:left;color:#b2b2b2;font-size:2.35em;margin-right:20px}
#bo_v_file a {float:left;display:block;text-decoration:none;word-wrap:break-word;color:#000}
#bo_v_file a:focus, #bo_v_file li:hover a, #bo_v_file a:active {text-decoration:underline;color:#3a8afd}
#bo_v_file img {float:left;margin:0 10px 0 0}
#bo_v_file .bo_v_file_cnt {color:#b2b2b2;font-size:0.92em}
#bo_v_file li:hover {border-color:#bed4f4;color:#bed4f4}
#bo_v_file li:hover i {color:#3a8afd}
#bo_v_file li:hover .bo_v_file_cnt {color:#99c2fc}


#bo_v_link h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;list-style:none}
#bo_v_link li {padding:15px;position:relative;margin:10px 0;border:1px solid #dfdfdf;border-radius:5px;
-webkit-box-shadow:1px 1px 5px 0px hsl(232, 36%, 96%);
-moz-box-shadow:1px 1px 5px 0px hsl(232, 36%, 96%);
box-shadow:1px 1px 5px 0px hsl(232, 36%, 96%)}
#bo_v_link li i {float:left;color:#b2b2b2;font-size:2.35em;margin-right:20px}
#bo_v_link a {float:left;display:block;text-decoration:none;word-wrap:break-word;color:#000}
#bo_v_link a:focus, #bo_v_link li:hover a, #bo_v_link a:active {text-decoration:underline;color:#3a8afd}
#bo_v_link .bo_v_link_cnt {color:#b2b2b2;font-size:0.92em}
#bo_v_link li:hover {border-color:#bed4f4;color:#bed4f4}
#bo_v_link li:hover i {color:#3a8afd}
#bo_v_link li:hover .bo_v_link_cnt {color:#99c2fc}

#bo_v_top {zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {padding:0;list-style:none;word-break:break-all;background:#fff}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {padding:0;list-style:none}

.bo_v_com {margin:20px 0;float:right}
.bo_v_com > li {position:relative;float:left;margin-left:5px}

.bo_v_nb {position:relative;margin:20px 0;clear:both;text-align:left}
.bo_v_nb:after {display:block;visibility:hidden;clear:both;content:""}
.bo_v_nb li {border-top:1px solid #f1f1f1;padding:30px}
.bo_v_nb li:last-child {border-bottom:1px solid #f1f1f1}
.bo_v_nb li:hover {background:#f6f6f6}
.bo_v_nb li i {font-size:13px;color:#b3b3b3}
.bo_v_nb li .nb_tit {display:inline-block;padding-right:20px;color:#b3b3b3}
.bo_v_nb li .nb_date {float:right;color:#b3b3b3}

#bo_v_atc {min-height:200px;height:auto !important;height:200px}
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img a.view_image {display:block}
#bo_v_img img {margin-bottom:20px;max-width:100%;height:auto}

#bo_v_con {font-size:16px;padding: 50px 20px;width:100%;line-height:1.7em;min-height:200px;word-break:break-all;overflow:hidden; border-bottom: 1px solid #eee;}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle;color:#4a5158}
#bo_v_act a:hover {background-color:#fff;color:#ff484f;border-color:#ff484f}
#bo_v_act i {font-size:1.4em;margin-right:5px}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;z-index:9999;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}
#bo_v_act .bo_v_good {display:inline-block;border:1px solid #dedede;width:70px;line-height:46px;border-radius:30px}
#bo_v_act .bo_v_nogood {display:inline-block;border:1px solid #dedede;width:70px;line-height:46px;border-radius:30px}

#bo_v_sns {padding:0;list-style:none;zoom:1;float:left;display:inline-block}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;width:135px;margin-right:5px;text-align:left}
#bo_v_sns li a {height:35px;line-height:35px;text-align:center;border-radius:5px;color:#fff;font-size:0.95em}
#bo_v_sns li img {vertical-align:middle;margin-right:5px}
#bo_v_sns li .sns_f {display:block;background:#3b5997}
#bo_v_sns li .sns_t {display:block;background:#09aeee}
#bo_v_sns li .sns_g {display:block;background:#ea4026}
#bo_v_sns li .sns_k {display:block;background:#fbe300}

#bo_v_share {position:relative;padding:20px 0}
#bo_v_share:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_share .btn {padding:0 10px;color:#555;font-weight:normal;font-size:1em;width:80px;line-height:35px;height:35px;border-color:#d5d5d5;border-radius:5px}
#bo_v_share .btn:hover {background:#fff}
#bo_v_share .btn i {margin-right:5px;color:#4b5259;vertical-align:middle}

/* 게시판 댓글 */
.cmt_btn {width:100%;text-align:left;border:0;border-bottom:1px solid #f0f0f0;background:#fff;font-weight:bold;margin:30px 0 0px;padding:0 0 15px}
.cmt_btn span.total {position:relative;display:inline-block;margin-right:5px;font-size:1em;color:#3a8afd}
.cmt_btn span.cmt_more {float:right;display:inline-block;width:15px;height:10px;background:url(img/btn_cmt.png) no-repeat right 2px;margin-top:5px}
.cmt_btn_op span.cmt_more {background-position:right -8px}
.cmt_btn b {font-size:1.2em;color:#000}
.cmt_btn span.total:after {position:absolute;bottom:-17px;left:0;display:inline-block;background:#3a8afd;content:"";width:100%;height:2px}
#bo_vc {}
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc article {margin:20px 0;position:relative;border-bottom:1px solid #f0f0f0}
#bo_vc article:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc article .profile_img img {border-radius:50%}
#bo_vc article .pf_img {float:left;margin-right:10px}
#bo_vc article .pf_img img {border-radius:50%;width:50px;height:50px}
#bo_vc article .cm_wrap {float:left;max-width:870px;width:90%}
#bo_vc header {position:relative;width:100%}
#bo_vc header:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc header .profile_img {display:none}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo {color:#777}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc .cmt_contents {line-height:1.8em;padding:0 0 20px}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:underline;color:#ed6479}
#bo_vc_empty {margin:0;padding:80px 0 !important;color:#777;text-align:center}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc .bo_vl_opt {position:absolute;top:0;right:0}

.bo_vc_act {display:none;position:absolute;right:0;top:40px;width:58px;text-align:right;border:1px solid #b8bfc4;margin:0;list-style:none;background:#fff;zoom:1;z-index:9999}
.bo_vc_act:before {content:"";position:absolute;top:-8px;right:5px;width:0;height:0;border-style:solid;border-width:0 6px 8px 6px;border-color:transparent transparent #b8bfc4 transparent}
.bo_vc_act:after {content:"";position:absolute;top:-6px;right:5px;width:0;height:0;border-style:solid;border-width:0 6px 8px 6px;border-color:transparent transparent #fff transparent}
.bo_vc_act li {border-bottom:1px solid #f0f0f0}
.bo_vc_act li:last-child {border-bottom:0}
.bo_vc_act li a {display:inline-block;padding:10px 15px}
.bo_vc_act li a:hover {color:#3a8afd}

.bo_vc_w {position:relative;margin:10px 0;display:block}
.bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.bo_vc_w #char_cnt {display:block;margin:0 0 5px}
.bo_vc_w textarea {border:1px solid #ccc;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;width:100%;height:120px;
-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1)}
/* #wr_secret {} */
.bo_vc_w_info {margin:10px 0;float:left}
.bo_vc_w_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w_info .frm_input {float:left;margin-right:5px}
.bo_vc_w_info #captcha {padding-top:10px;display:block;clear:both}
.bo_vc_w .btn_confirm {clear:both;margin-top:10px}
.bo_vc_w .btn_confirm label {display:inline-block;margin-right:10px;border-radius:3px;font-size:1.5em;text-align:center}
.bo_vc_w .btn_submit {height:45px;padding:0 20px;font-weight:300;font-size:1.083em}
.bo_vc_w .btn_confirm .secret_cm label {font-size:1em !important}
.bo_vc_w_wr:after {display:block;visibility:hidden;clear:both;content:""}
.secret_cm {display:inline-block;float:left}

#bo_vc_send_sns {display:inline-block;float:left}
#bo_vc_sns {display:inline-block;margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 5px 0 0}
#bo_vc_sns .sns_li_f {border-radius:3px;background:#3a589b;height:40px;line-height:40px;padding:0 0 0 10px}
#bo_vc_sns .sns_li_t {border-radius:3px;background:#00aced;height:40px;line-height:40px;padding:0 0 0 10px}
#bo_vc_sns .sns_li_off {background:#bbb}
#bo_vc_sns a {display:inline-block;padding:0 15px 0 5px}
#bo_vc_sns input {margin:0 5px 0 0}

/*글쓰기*/
/* #bo_w {padding: 150px 0;} */
#bo_w .bo_v_option li {display:inline-block; float: left;text-align:left;margin:0 5px 0 0}
#bo_w .bo_v_option li label {vertical-align:baseline}
#bo_w .bo_v_option .chk_box input[type="checkbox"] + label span {margin-left:0;margin-right:5px}
#bo_w .write_div {margin:10px 0;position:relative; margin-top: 150px;}
#bo_w .write_div:after {display:block;visibility:hidden;clear:both;content:""}
#bo_w .bo_w_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_w .bo_w_info .frm_input, #bo_w #wr_subject {float:left;margin-bottom:1%; padding: 25px 0 25px 24px; }
#bo_w .bo_w_info .frm_input:focus, 
#bo_w #wr_subject:focus,
#bo_w #wr_content:focus,
#bo_w #wr_link1:focus,
#bo_w #wr_link2:focus   {border: 2px solid #000; outline: none;}
#bo_w #wr_link1,#bo_w #wr_link2,#bo_w .file_wr {border-radius: 50px !important; padding: 10px 60px;}
.btn_box    {padding-bottom: 150px;}
.btn_box a.btn_more {display: block; width: 10%; border: 1px solid #d9d9d9; text-align: center; height: 50px; line-height: 50px; margin: 0 auto; border-radius: 25px; transition: background-color 0.3s ease-out; font-weight: 500;}
.btn_box a:hover    {background-color: #000; color: #fff; border: 1px solid #000}


#bo_w #wr_content   {border-radius: 20px; border-color: #d0d3db; padding: 20px;}
#bo_w .bo_w_info input,#bo_w #wr_subject {border-radius: 0; height: 60px;}

/* #bo_w #wr_homepage, #bo_w #wr_name,#bo_w #wr_2,#bo_w #wr_4,#bo_w .wr_5  {margin-right:1%;} */
#bo_w .wr_content.smarteditor2 iframe {background:#fff}
#bo_w .bo_w_tit {position:relative}
#bo_w .bo_w_tit .frm_input {padding: 25px 120px 25px 5px;}
#bo_w .bo_w_tit #btn_autosave {position:absolute;top:5px;right:5px;line-height:30px;height:30px}
#bo_w .bo_w_link label {position:absolute;top:1px;left:1px;border-radius:3px 0 0 3px;height:38px;line-height:38px;width:44px;/*font-size:1.2em;*/text-align:center;color:#b2b2b2}
#bo_w .bo_w_link .frm_input {padding-left:50px}
#bo_w .bo_w_flie .lb_icon {position:absolute;top:0px;left:0px;border-radius:3px 0 0 3px;height:38px;line-height:38px;width:44px;/*font-size:1.2em;*/text-align:center;color:#b2b2b2}
#bo_w .bo_w_flie .frm_file {padding-left:50px; /*margin-top:3px*/ color: #b2b2b2;}
#bo_w .bo_w_flie .file_wr {position:relative;border:1px solid #ccc;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;height:40px;margin:0}
#bo_w .bo_w_flie .frm_input {margin:10px 0 0}
#bo_w .bo_w_flie .file_del {position:absolute;top:10px;right:10px;font-size:0.92em;color:#7d7d7d}
#bo_w .bo_w_select select {border:1px solid #d0d3db;width:100%;height:40px;border-radius:3px; padding-left: 5px; }
#bo_w .btn_submit {padding:0 20px;font-size:18px;}
#bo_w .btn_cancel {font-size:18px;}
#bo_w .write_div .txt-tit   {display: flex; align-items: center;}
#bo_w .write_div p  {color: #000;}


#captcha.m_captcha audio{display: none;}

#bo_w .bo_w_info.write_div{margin: 0;}
.bo_w_info{display: flex; flex-wrap: wrap; justify-content: space-between;}
#bo_w .bo_w_info #wr_name.frm_input,
#bo_w .bo_w_info #wr_email.frm_input,
#bo_w .bo_w_info #wr_password.frm_input,
#bo_w .bo_w_info #wr_homepage.frm_input,
#bo_w .bo_w_info #wr_1.frm_input,
#bo_w .bo_w_info #wr_2.frm_input,
#bo_w .bo_w_info #wr_3.frm_input,
#bo_w .bo_w_info #wr_4.frm_input
{width: 49.5%;}

#bo_w .bo_w_info .wr_5,#bo_w .bo_w_info .wr_6    {width: 100%; padding: 150px 0 0 0;}
#bo_w .bo_w_info .wr_5 label,#bo_w .bo_w_info .wr_6 label    {display: flex; align-items: center; padding-bottom: 20px; font-size: 1.2rem; font-weight: 400; color: #222;}
#bo_w .bo_w_info .wr_5 input  {margin: 0 15px 0 0;}
#bo_w .bo_w_info .wr_6 input    {margin: 0 15px 0 30px;}
#bo_w .bo_w_info input::placeholder,#bo_w .bo_w_info .wr_5,#bo_w .bo_w_info .wr_6  {color: #7d7d7d;}


#bo_w .write_div.bo_w_tit{
    margin: 30px 0 0;
}

.wr_content{ margin: 20px 0;}

#bo_w .btn_cancel{width: 50px; height: 40px; padding: 0; margin: 0 5px; line-height: 40px;}
#bo_w .btn_submit{width: 110px; height: 40px; padding: 0;  margin: 0 5px; background: #222; line-height: 40px;}
#bo_w .write_div.btn_confirm{margin-top: 50px;}

#captcha{margin: 50px 0 30px;}
#captcha #captcha_info{font-size: 16px; margin-top: 15px; color: #555;}

.privacy-item {display: none;}


.cancel_txt { color: #dc1000; line-height: 30px; margin-top: 20px; font-size: 16px; }


/*ui*/
.btn_bo_user > li{margin: 0 10px 10px;}
.fa-search:before,
.fa-cog:before,
.fa-pencil:before,
.fa-ellipsis-v:before,
.fa-mail-reply:before, 
.fa-reply:before{font-size: 22px; color: #fff;}
.fa-search:hover::before{color: #222;}
.fa-spin{animation: none;}

.bo_fx .btn_bo_user{margin-top: 30px;}

.fa-list:before{font-size: 22px; color: #fff;}
.fa-list:hover::before{color: #222;}
/*ui*/


/*list*/

/*
#bo_btn_top{
    margin-top: -80px;   
}
*/
.tbl_wrap{margin: 0;}
.tbl_wrap table{    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 5px;
    background: #fff;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    font-size: 18px;
}
.tbl_head01 caption{display: none;}
.tbl_head01 thead th{
    background: transparent; 
    border: none; 
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    padding: 20px 0;
	letter-spacing: inherit;
}

.bo_notice td{
    background: none !important;
    border: none; 
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
}
.tbl_head01 td{
    border: none; 
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
}
#bo_list tbody tr td{
    padding: 30px 0;
}

.bo_notice .notice_icon{
    font-weight: 300;
    color: #222;
}

#bo_list .td_num2, #bo_list .td_datetime{
    width: 8%;
    font-weight: 300;
}

.bo_notice td a,
.bo_tit{
    font-weight: 300;
    color: #222;
	padding-left: 10px;
}
#bo_list tbody .even td {background:transparent;}
/*list end*/

@media screen and (max-width:1024px){
    .tbl_head01 thead th,
    .bo_notice td a,
    .bo_notice .notice_icon,
    #bo_list .td_num2, 
    #bo_list .td_datetime,
    .bo_tit
    {
        font-size: 15px;
    }

    #bo_list .td_num2, #bo_list .td_datetime{
        width: 10%;
        font-weight: 300;
    }
    .cancel_txt{font-size: 14px; margin-top: 15px;}


    /*view*/
    #bo_v_title .bo_v_tit{
        font-size: 28px;
        line-height: 42px;
    }
    #bo_v_info .profile_info{
        margin: 20px 0;
    }
    #bo_v_info .if_date,
    #bo_v_con{
        font-size: 15px;   
    }


    /*ui*/
    .btn_bo_user > li{margin: 0 10px 10px;}
    .fa-search:before,
    .fa-list:before,
    .fa-ellipsis-v:before{font-size: 16px;}
}

@media screen and (max-width :720px){
    #bo_w .bo_w_info #wr_name.frm_input,
    #bo_w .bo_w_info #wr_password.frm_input,
    #bo_w .bo_w_info #wr_email.frm_input,
    #bo_w .bo_w_info #wr_homepage.frm_input{width: 100%; margin-bottom: 10px;}

    #bo_w #wr_password, #bo_w #wr_homepage{margin-left: 0;}

    #bo_w .write_div.btn_confirm{margin-top: 40px;}
    #bo_w .btn_cancel{width: 50px; height: 40px; font-size: 12px;}
    #bo_w .btn_submit{width: 110px; height: 40px; font-size: 12px;}

    #captcha #captcha_info{font-size: 12px; margin-top: 10px; }

    .cancel_txt{font-size: 12px; margin-top: 10px;}

    /*view*/

    #bo_v_info .profile_info .profile_info_ct{
        font-size: 12px;
        line-height: 1.3em;
    }
    #bo_v_title .bo_v_tit{
        font-size: 22px;
        line-height: 36px;
    }
    #bo_v_info .profile_info,
    .bo_v_com{
        margin: 10px 0;
    }
    #bo_v_info .if_date,
    #bo_v_con{
        font-size: 12px;   
    }
    #bo_v_info .if_date{line-height: 35px;}
    /*view end*/



    /*ui*/
    
    .fa-search:before,
    .fa-list:before,
    .fa-ellipsis-v:before,
    .fa-search:before,
    .fa-cog:before,
    .fa-pencil:before,
    .fa-ellipsis-v:before,
    .fa-mail-reply:before, 
    .fa-reply:before{font-size: 14px}
}

@media screen and (max-width :480px){
    .btn_bo_user > li{margin: 0 5px 10px;}
}



#bo_w .ct_main_tit{
    margin-bottom:80px;
}

@media screen and (max-width :1024px){
    #bo_w .ct_main_tit{
        margin-bottom:50px;
    }
}


@media screen and (max-width :740px){
/*
    #bo_w {
        padding: 75px 0;
    }
*/
    #bo_w .ct_main_tit{
        margin-bottom:50px;
    }
}



#bo_w .btn_submit {
    margin: 0 10px;
    width: 10%;
    height: 50px;
    line-height: 50px;
    background-color: #222;
    color: #fff;
}
#bo_w .btn_cancel   {
    display: inline-block;
	font-size: 1rem;
    background-color: transparent;
	border: solid 1px #d9d9d9;
	border-radius: 50px;
    color: #222;
    width: 10%;
    height: 50px;
    line-height: 50px;
	font-weight: 500;
}


@media screen and (max-width :720px){
    #bo_w .btn_submit,
    #bo_w .btn_cancel{
        padding: 0 !important;
        /* height: 70px; */
        /* line-height: 1.66 !important; */
        font-size: 12px !important;
        width: 80px;
        height: 35px;
        margin:  0 5px;
		line-height: 35px !important; 
    }
   

    .cancel_txt{
        font-size: 10px;
    }
}


/*글쓰기 페이지*/
/*공통*/
.sub_top_tit p{line-height: 1.5;}
.sub_top_tit p.company{display: none;}

#bo_w .label_tit{display: flex; align-items: stretch!important; margin-bottom: 30px;}
#bo_w .label_tit span{display: inline-block; width: 18px; height: 18px;  background: url('../../../../img/require.png') no-repeat center center; margin-left: 5px;}

@media screen and (max-width :1024px){
	#bo_w .write_div{margin: 75px 0 0 0;}
	
	#bo_w .label_tit{margin-bottom: 20px;}
}
/*공통*/

/*문의 작성자 정보*/
.info_wrap{display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%;}
.info_wrap li {width: 48%; margin: 30px 0;}
.info_wrap li input{width: 100%; text-indent: 10px; border: none; border-bottom: solid 2px #000;}
.info_wrap li select{width: 100%; height: 60px; border: none; border-bottom: solid 2px #000;}
.info_wrap li select option{font-size: 1.125rem;}

.info_wrap li:first-child{width: 100%; margin-top: 0;}
.info_wrap li:first-child input{width: 48%;}

.info_wrap li .num_wrap{display: flex;}
.info_wrap li .num_wrap input#wr_1{width: 18%; margin-right: 4%;}
.info_wrap li .num_wrap input#wr_2{width: 78%;}

@media screen and (max-width :767px){
	.info_wrap li{width: 100%;}
	.info_wrap li:first-child input{width: 100%;}
	#bo_w .bo_w_info .info_wrap li input{height: 45px;}
	.info_wrap li select{height: 45px;}
}
@media screen and (max-width :480px){
	.info_wrap li .num_wrap{flex-wrap: wrap;}
	.info_wrap li .num_wrap input#wr_1,
	.info_wrap li .num_wrap input#wr_2{width: 100%;}
	
}
/*문의 작성자 정보*/

/*문의 카테고리*/
.inq_cate {display:flex; align-items:center;}
.item_chk {flex:0 0 auto; flex-basis:calc(25% - 24px); margin-right:24px; cursor: pointer; position: relative;}
.item_chk label {position:relative; display:block; padding:20px 0; border:none; border-radius:35px; background: #f6f6f6; }


.item_chk input:before{display: inline-block; width: 100%; height: 60px; margin-right: 10px; vertical-align: top; position: absolute; left:-2px; top: 50%; transform: translateY(-50%); background: #f6f6f6; color: #000; font-size: 1.25rem; font-weight: 500; line-height: 60px; text-align: center; border-radius: 30px; transition: all .2s; font-family: 'Poppins', sans-serif;}

.item_chk:first-child input:before{content: 'Purchase · Demo';}
.item_chk:nth-child(2) input:before{content: 'Research · Project';}
.item_chk:nth-child(3) input:before{content: 'Investment';}
.item_chk:last-child input:before{content: 'Others';}

.item_chk input:checked:before{background: #000; color: #fff;}

@media screen and (max-width :1080px){
/*	.item_chk{flex-basis:calc(25% - 15px); margin-right: 15px;}*/
	.inq_cate{flex-wrap: wrap;}
	.item_chk{flex-basis:calc(50% - 15px); margin:0 15px 10px 0; }
	#bo_w .bo_w_info .wr_5, #bo_w .bo_w_info .wr_6{padding: 75px 0 0 0 ;}
	#bo_w .bo_w_info .wr_5 label, 
	#bo_w .bo_w_info .wr_6 label{padding-bottom: 0;}
	#bo_w .bo_w_info .wr_5 input{margin-left: 10px;}
}
@media screen and (max-width :767px){
	.item_chk input:before{height: 50px; line-height: 50px;}
	#bo_w .bo_w_info .wr_5 input{height: 50px;}
}
@media screen and (max-width :480px){
	.item_chk{flex-basis:100%; margin:0 0 10px 0; }
	
}

/*문의 카테고리*/


/*관심 제품*/
#bo_w .bo_w_info .wr_6 input{height: auto;}
.wr_6 .inq_chk li div label{font-family: 'Poppins', sans-serif;}

.inq_chk li{display: flex; align-items: center; margin-bottom: 30px;}
.inq_chk li h2{color: #000; width: 180px;}
.inq_chk li div{display: flex; align-items: center; flex-wrap: wrap;}
.inq_chk li div label{padding-bottom: 0!important;}
.inq_chk li div label input{position: relative;}
.inq_chk li div label input::before{display: inline-block; content: ''; width: 20px; height: 20px; margin-right: 10px; background: url('img/chk_b.png') no-repeat center center/100%; vertical-align: top; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
.inq_chk li div label input:checked::before{background: url('img/chk_on.png') no-repeat center center /100%;}


@media screen and (max-width :1024px){
	.inq_chk li{margin-bottom: 25px; flex-wrap: wrap;}
	.inq_chk li h2{width: 100%;}
/*	.inq_chk li div{margin-top: 10px;}*/
	.inq_chk li div label input::before{width: 15px; height: 15px;}
	
	#bo_w .bo_w_info .wr_6 label{font-size: 13px; white-space: nowrap; margin-right: 20px; margin-top: 10px;}	
	#bo_w .bo_w_info .wr_6 label:last-child{margin-right: 0;}
	#bo_w .bo_w_info .wr_6 input{margin-left: 0; width: 5px; height: 5px;}
/*	#bo_w .bo_w_info .wr_6 label:first-child input{margin-left: 0}*/
}

/*관심 제품*/

/*웰리시스를 어떻게?*/
#bo_w .wr_7 .label_tit{margin-bottom: 50px;}
.wr_7 .inq_chk li div label{color: #222; font-size: 1.25rem; font-weight: 400; }
.wr_7 .inq_chk li div label input{margin-right: 20px;}

.how_well_wrap div{width: 100%;}
.how_well_wrap div label{width: 100%; display: flex;  align-items: center;}
.how_well_wrap div label input.how_well_etc{width: 30%; height: 40px; margin-left: 10px; }
.how_well_wrap div label input.how_well_etc[type=text]{font-size: 16px; text-indent: 10px;}

@media screen and (max-width :1024px){
	#bo_w .wr_7 .label_tit{margin-bottom: 30px;}
	.wr_7 .inq_chk li div label{font-size: 13px;}
	.wr_7 .inq_chk li div label input{margin-right: 20px; width: 5px; height: 5px;}
	.wr_7 .inq_chk li.how_well_wrap div label input.how_well_etc{width: 50%; height: 40px;}
	.wr_7 .inq_chk li.how_well_wrap div label input.how_well_etc[type=text]{font-size: 12px;}
}
@media screen and (max-width :767px){
	.wr_7 .inq_chk li.how_well_wrap div label input.how_well_etc{width: 100%;}
}
@media screen and (max-width :360px){
	.wr_7 .inq_chk li div label input{margin-right: 100%;}
	.how_well_wrap div label{display: block}
	.how_well_wrap div label input.how_well_etc{margin-left: 0;}
}
/*웰리시스를 어떻게?*/

/*개인정보 처리 방침*/
.wr_8 div{position: relative;}
#private::before{display: inline-block; content: ''; width: 20px; height: 20px; margin-right: 10px; background: url('img/chk_p.png') no-repeat center center /100%; vertical-align: top; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
#private:checked::before{background: url('img/chk_p_on.png') no-repeat center center/100%;}
.wr_8 label span{margin-left: 10px;}
.wr_8 label span.private_agree{margin-left: 0;}

@media screen and (max-width :1024px){
	#private{width: 5px; height: 5px}
	#private::before{width: 15px; height: 15px;}
/*	.wr_8 label span{margin-left: 15px;}*/
}
@media screen and (max-width :480px){
	#private::before{left: 0; top: 0; transform: none;}
/*	.wr_8 div label > span{display: flex; flex-direction: column; margin-top: -15px;}*/
}

.privacy_link{position: relative; transition: all .3s; white-space: nowrap;}
.privacy_link::after{content: ''; display: block; width:95%; height: 2px; background: #000; bottom: -3px; left: 5px;  position: absolute; transition: all .3s;}

.privacy_link:hover{color:#7478F6;}
.privacy_link:hover::after{background:#7478F6;}

@media screen and (max-width :480px){
/*
	.privacy_link::after{width: 190px; left: 15px;}
	.privacy_link span,
	.wr_8 label span{margin-left: 15px!important;}
*/
	.wr_8 label span.private_agree{margin-top: 5px; margin-left: 28px; display: block;}
}
@media screen and (max-width :300px){
	#private::before{top: 0; transform: none;}
	.privacy_link{margin-left: 25px;}
/*	.privacy_link::after{width: 190px; left: 15px;}*/
/*
	.privacy_link span,
	.wr_8 label span{margin-left: 15px!important;}
*/
	
}
/*개인정보 처리 방침*/


/*보내기 버튼*/
#bo_w .btn_submit{background:#7478F6; width: 200px; border-radius: 10px; font-weight: 400;}
#bo_w .btn_cancel{width: 200px; border-radius: 10px; font-weight: 400;}

@media screen and (max-width :767px){
	#bo_w .btn_submit{ width: 150px;}

}
/*보내기 버튼*/

/*글쓰기 페이지 끝*/



/*뷰 페이지*/
.view_tit_wrap .txt_box h2{margin-bottom: 30px;}

#bo_v_info{display: none;}
#bo_v_con{border-bottom: none; padding: 150px 0 100px;}
#bo_v_con .m_table{border-top: solid 1px #d9d9d9;}
#bo_v_con .m_table tr td{padding: 30px;}
#bo_v_con .m_table tr td:first-child{width: 20%; background: #f9f9f9;}
#bo_v_con .m_table tr td:last-child{width: 80%; font-weight: 500;}
@media screen and (max-width :1024px){
	#bo_v_con{padding: 75px 0 50px;}
	#bo_v_con .m_table tr td{padding: 20px;}
	#bo_v_con .m_table tr td:first-child{width: 30%; background: #f9f9f9;}
	#bo_v_con .m_table tr td:last-child{width: 70%; font-weight: 500;}
}
@media screen and (max-width :767px){
	#bo_v_con .m_table tr td{padding: 15px;}
}
/*뷰 페이지 끝*/


/*리스트 페이지*/
#bo_list{margin-bottom: 150px;}
#bo_list thead {background: #f9f9f9;}
#bo_list .td_num2{width: 15%; font-weight: 400;}
#bo_list .td_datetime{width: 10%; font-weight: 400;}
#bo_list .td_subject{width: 75%; }

#bo_list tbody tr td a{transition: all .3s;}
#bo_list tbody tr:hover td a{color: #8f94ff;}
#bo_list .bo_tit .new_icon{color: #fff; background: #8f94ff;}

.btn_bo_user > li{margin: 0 10px 20px;}
.btn_bo_user > li:first-child,
.btn_bo_user > li:nth-child(2){display: none;}

.btn_bo_user a.btn_b01, 
.btn_bo_user .btn_b01{width: 40px; height: 40px; line-height: 40px; background: #000; border-radius: 10px;}

@media screen and (max-width :767px){
	#bo_list .td_num2{width: 30%;}
	#bo_list .td_datetime{width: 20%;}
	#bo_list .td_subject{width: 50%; }
}
/*리스트 페이지 끝*/

/*영문 폰트 적용*/
#bo_w #wr_content,
#bo_w .bo_w_info input, 
#bo_w #wr_subject,
.info_wrap li select{font-family: 'Poppins', sans-serif;}


/*페이지네이션*/

.pg_wrap{padding: 50px 0;}
.pg_wrap .pg{display: flex; justify-content: center;}
.pg_wrap a{border-radius: 50%; border:solid 1px #f0f0f0; background-color: #f9f9f9; margin-right: 10px; font-family: 'Poppins', sans-serif; font-size: 1.25rem; font-weight: 500;}
.pg_current{border-radius: 50%;  background: #000; border: solid 1px #000;  margin-right: 10px; font-family: 'Poppins', sans-serif; font-size: 1.125rem; font-weight: 500;}

.pg_end{background: url('../../../../../../img/sub/pg_end.png') no-repeat center center #f9f9f9!important;}
.pg_start{background: url('../../../../../../img/sub/pg_start.png') no-repeat center center #f9f9f9!important;}


@media screen and (max-width:767px){
	.pg_wrap strong, 
	.pg_wrap a{width: 36px; height: 36px; line-height: 36px;}
	.pg_start,
	.pg_end{background-size: 100%!important; }
}
